@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Arial, Verdana, Helvetica, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    padding: 0px;
    margin: 0px;
}

body, html {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}

header p {
    padding-bottom: 50px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(41, 40, 40);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.582);
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section#img1 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#img2 {
    background-image: url('../imagens/background002.jpg');
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}